<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9VcA1nfqxXaYS15-yn1MpsWZvvGtvJCw</string>
	<key>GCM_SENDER_ID</key>
	<string>960261113831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.agrinance</string>
	<key>PROJECT_ID</key>
	<string>agrinance-2paswm</string>
	<key>STORAGE_BUCKET</key>
	<string>agrinance-2paswm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960261113831:ios:503e828cca358b3eab1f42</string>
</dict>
</plist>